<div class="spinner">
  <div class="spinner__rect1 spinner__default"></div>
  <div class="spinner__rect2 spinner__default"></div>
  <div class="spinner__rect3 spinner__default"></div>
  <div class="spinner__rect4 spinner__default"></div>
  <div class="spinner__rect5 spinner__default"></div>
</div>