.car-media{
  background:#fff;
  @include rem-fallback(margin-bottom,0.9)
  @include rem-fallback(padding,0.9,0.9,0.9,0.9)
  &:hover{
    background: lighten($body-bg,2%);
  }
  &__figure{
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      display: block;
      content: '';
      width: 0;
      height: 0;
      background: rgba(255,255,255,.2);
      border-radius: 100%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      opacity: 0;
    }
    &:hover::before{
      -webkit-animation: circle .75s;
      animation: circle .75s;
    }
  }

  &__thumbnail{
    max-width:100%;
  }

  &__head{
    letter-spacing:1;
  }
  &__body{
    font-weight:300;
  }
  &__price{
    float:right;
    @include border-radius(5px 5px 5px 5px);
    @include rem-fallback(padding,0.3,0.4,0.3,0.4)
  }
  &__price--nonefloat{
    float:none;
  }
  &__price--colored{
    color: #f36519;
  }

}

@-webkit-keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
@keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
