<div class="imgSlider">

  <div class="slider slider-for">
    <div><img data-lazy="http://placehold.it/910x606" alt=""></div>
    <div><img data-lazy="http://placehold.it/911x606" alt=""></div>
    <div><img data-lazy="http://placehold.it/912x606" alt=""></div>
    <div><img data-lazy="http://placehold.it/913x606" alt=""></div>
    <div><img data-lazy="http://placehold.it/914x606" alt=""></div>
    <div><img data-lazy="http://placehold.it/914x606" alt=""></div>
    <div><img data-lazy="http://placehold.it/914x606" alt=""></div>
    <div><img data-lazy="http://placehold.it/914x606" alt=""></div>
    <div><img data-lazy="http://placehold.it/914x606" alt=""></div>
  </div>

  <div class="slider slider-nav">
    <div><img data-lazy="http://placehold.it/910x606" alt=""></div>
    <div><img data-lazy="http://placehold.it/911x606" alt=""></div>
    <div><img data-lazy="http://placehold.it/912x606" alt=""></div>
    <div><img data-lazy="http://placehold.it/913x606" alt=""></div>
    <div><img data-lazy="http://placehold.it/914x606" alt=""></div>
    <div><img data-lazy="http://placehold.it/914x606" alt=""></div>
    <div><img data-lazy="http://placehold.it/914x606" alt=""></div>
    <div><img data-lazy="http://placehold.it/914x606" alt=""></div>
    <div><img data-lazy="http://placehold.it/914x606" alt=""></div>
  </div>

</div>