<footer class="footer">

  <div class="container">

    <div class="col-md-12">
      <div class="col-md-4 footer__logoWidget text-xs-center">{{bottom-footer.logo-wiget}}</div>
      <div class="col-md-8 footer__socialButtons">{{bottom-footer.social-buttons}}</div>
    </div>

    <div class="col-md-12 footer__copyright">
      {{bottom-footer.copyright-text}}
    </div>
  </div>

</footer>
{{yield}}
