<nav class="nav">

  <div class="nav__logo text-xs-center">
      <img src="/img/logo2x.png" class="text-xs-center img-fluid">
  </div>

  <div class="nav__language">
    {{language-select}}
  </div>
</nav>

{{yield}}

